* {
  font-family: monospace;
}
.main {
  display: block;
  width: 60%;
  margin: 2rem auto;
  padding: 2rem auto;
  border: 1px solid lightgray;
  border-radius: 5px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.main h1 {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top: 3rem;
}
.url-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 3rem;
  font-size: 1.5rem;
  padding: 2rem;
  letter-spacing: 00.5px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}
.url-box input {
  outline: none;
  padding: 10px;
  width: 40%;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 1rem;
  letter-spacing: 0.5px;
}
input:focus {
  border: 1px solid #00bcd4;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.url-box button {
  padding: 10px 1rem;
  cursor: pointer;
  outline: none;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid lightgray;
  font-weight: 600;
  background-color: lavender;
  color: black;
}
button:hover {
  background-color: black;
  color: white;
  border: 1px solid gray;
}
.short {
  border: 1px solid lightblue;
  background-color: lavender;
  font-size: 1.5rem;
  margin: 2rem;
  padding-bottom: 2rem;
  letter-spacing: 1px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.short p {
  padding: 1rem;
}
.short a {
  background-color: lavenderblush;
  padding: 5px 1rem;
  color: blue;
  text-decoration: none;
}
a:hover {
  color: darkorchid;
}
